.movie_introduce {
    width: 292px;
    height: 78px;
    margin-top: 16px;
    margin-bottom: 10px;

}

.posts {
    float: left;
    width: 54px;
    height: 78px;
    background: url(../img/1917.jpg) no-repeat;
    background-size: contain;
}

.posts_textbox {
    font-weight: lighter;
    color: #C4C4C4;
    float: left;
}

.posts_textbox>h3 {
    padding-left: 17px;
}

.posts_textbox>h3>div {
    width: 20px;
    height: 20px;
    overflow: hidden;
    float: left;
    margin-top: 4.5px;
    margin-right: 3px;
    margin-left: 3px;
    background: url(../img/mainicon.png) no-repeat -94px 0px;
    background-size: 114px 84px;
}

.posts_textbox>div {
    text-align: center;
    height: 45px;
    margin: 2px;
    font-size: 12px;
    float: left;

}

.posts_txt1 {
    padding-left: 20px;
}

.posts_txt2 {
    padding-left: 18px;
}

.posts_p {
    margin-top: 9px;

}

.mar {
    text-align: center;
    margin-right: 6px;
}

.posts_p>span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/introduce.png)no-repeat -50px 0;
    background-size: 114px;
}

.iconbox {
    width: 20px;
    padding-left: 21px;
}

.iconbox>button {
    float: left;
    width: 17px;
    height: 21px;
    background: url(../img/introduce.png) no-repeat 0 0;
    background-size: 114px;
    margin-left: 3px;
    border: none;
}

.iconbox>p {
    display: inline-block;
    width: 24px;

    color: white;
    font-size: 10px;

    font-weight: lighter;
    padding-top: 7px;
}


.like {
    width: 20px;
    padding-left: 22px;
}

.like>button {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../img/introduce.png) no-repeat -25px 0;
    background-size: 114px;
    margin-left: 2px;
    margin-top: 2px;
    border: none;
}

.like>p {
    display: inline-block;
    padding-top: 6px;
    color: white;
    font-size: 10px;
}

/*tab메뉴 css*/
.tabmenu {
    color: #aaaaaa;
}

.tabmenu>ul>li {
    float: left;
    border: none;
}

.tabmenu>ul>li>a {
    width: 55px;
    display: inline-block;
    margin-left: 28px;
    padding-bottom: 2px;
    font-size: 14px;
    text-align: center;
}

.tabmenu>ul>li>a.tabs {
    color: #737373;
}

.tabs1 {
    color: #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
}

.tabmenu>ul>li>a:hover {
    color: #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
}

/*스크롤바 정보 자연스럽게 그라데이션*/
.dimdesign {
    width: 360px;
    height: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(36, 35, 35, 0) 0%, #181818 83.33%);
}

/*tabstxt1_스크롤바 디자인*/
.tabstxtgroup>li {
    width: 300px;
    height: 180px;
    margin-left: 30px;
    margin-top: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
}

.tabstxt1::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 6px;
}

.tabstxt1::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #242323;
    border-radius: 10px;

}

.tabstxt1::-webkit-scrollbar-track {
    /*스크롤바 여백*/
    background-color: #000000;
    border-radius: 10px;
}
/* .tabstxt2>ul>li>div{
    background: url(../img/);

} */