.movie_introduce {
    width: 292px;
    height: 78px;
    margin-top: 16px;
}

.posts {
    float: left;
    width: 54px;
    height: 78px;
    background: url(../img/1917.jpg) no-repeat;
    background-size: contain;
}

.posts_textbox {
    font-weight: lighter;
    color: #C4C4C4;
    float: left;
}
.posts_textbox>h3{
    padding-left:17px;
}

.posts_textbox>h3>div {
    width: 20px;
    height: 20px;
    overflow: hidden;
    float: left;
    margin-top: 4.5px;
    margin-right: 3px;
    margin-left: 3px;
    background: url(../img/mainicon.png) no-repeat -94px 0px;
    background-size: 114px 84px;
}

.posts_textbox>div{
    text-align: center;
    height: 45px;
    margin: 2px;
    font-size: 12px;
    float: left;

}

.posts_txt1{
    padding-left: 20px;
}
.posts_txt2{
    padding-left: 18px;
}
.posts_p{
    margin-top:9px;

}
.mar{
    text-align: center;
    margin-right: 6px;
}
.posts_p>span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/introduce.png)no-repeat -50px 0;
    background-size: 114px;
}

.iconbox {
    width: 20px;
    padding-left: 21px;
}

.iconbox>button {
    float: left;
    width: 17px;
    height: 21px;
    background: url(../img/introduce.png) no-repeat 0 0;
    background-size: 114px;
    margin-left: 3px;
    border: none;
}

.iconbox>p {
    display: inline-block;
    width: 24px;

    color: white;
    font-size: 10px;

    font-weight: lighter;

padding-top: 7px;
}


.like {
    width: 20px;
 
    padding-left: 22px;

}

.like>button {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../img/introduce.png) no-repeat -25px 0;
    background-size: 114px;
    margin-left: 2px;
    margin-top: 2px;
    border: none;

}

.like>p {
    display: inline-block;
    padding-top: 6px;
    color: white;
    font-size: 10px;
}
.tabmenu{
    color: #aaaaaa;
}

.tabmenu>ul>li{
    float: left;
    border: none;
}
.tabmenu>ul>li>a{
    color: #aaaaaa;
}
.tabstxtgroup{
    overflow: hidden;
}
.tabstxtgroup>li.tabstxt1{
    overflow: scroll;
}