
/*wraper_tabmenu,슬라이드(배경,포스터,예매버튼,영화소개박스),plusbtn*/
.wraper {
    background: #222222;
    width: 360px;
    height: 537px;
    position: relative;
}

/*tab 버튼*/

.tabs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.tabs>li>a.tab {
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
    color: #737373;
}

.tabs>li>a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ddd;

}

.tab-1 {
    position: absolute;
    top: 17px;
    left: 74px;
    width: 68px;
}

.tab-1_btn {
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
    color: white;
    border-bottom: 2px solid #ddd;

}

.tab-2 {
    position: absolute;
    top: 17px;
    left: 149px;
    width: 68px;

}

.tab-3 {
    position: absolute;
    top: 17px;
    left: 224px;
    width: 68px;
}

/*배경 슬라이드*/
section.bawrap {
    width: 360px;
    height: 537px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 29.17%, rgba(24, 24, 24, 0) 70.31%, #181818 100%);

}

.div01 {
    position: relative;
    width: 360px;
    height: 537px;
    overflow: hidden;
}

div.div01>img {
    width: 720px;
    position: absolute;
    top: -30%;
    left: -200px;
    opacity: 20%;
}

/*영화소개박스*/


.textbox {
    position: absolute;
    bottom: 80px;
    left: 27%;
    text-align: center;
}

.textbox>h3 {
    color: white;
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
}

.textbox>p {
    color: white;
    margin-top: 5px;
    font-size: 13px;
    font-weight: lighter;
}

.textbox>h3>div {
    width: 20px;
    height: 20px;
    overflow: hidden;
    float: left;
    margin-top: 4.5px;
    margin-right: 3px;
    margin-left: 3px;
    background: url(../img/mainicon.png) no-repeat -94px 0px;
    background-size: 114px 84px;
}

.textbox>h3>div>img {
    width: 114px;
    transform: translateX(-95px);
}

/*영화얹어지는 포스터*/
.post {
    transform: translateY(8.7%);
}

.frame {
    padding-top: 50px;
    padding-bottom: 50px;
}


.simg {
    width: 200px;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px #000000;
}

.post .slick-center img {
    transform: scale(1.12);
}
/*information가는 버튼*/
.information{
    width: 224px;
    height: 322px;
    position: absolute;
    bottom: 33px;
    right: 18px;
    z-index: 66;
}

/*예매버튼*/
.frame {
    position: relative;
}

div.frame>a.bookbtn {
    width: 48px;
    height: 48px;
    margin: 14px;
    border: 1px solid #ffffff;
    border-radius: 1px;

    line-height: 48px;
    text-align: center;

    color: #ffffff;
    font-size: 12px;

    position: absolute;
    bottom: 33px;
    right: 18px;

    z-index: 9995;
}

/*예메버튼 애니메이션*/
div.frame>a.bookbtn:hover {
    background: rgba(255, 255, 255, 0.5);
}

/*예매팝업*/

.booking_dim {
    z-index: 50;
    width: 100%;
    height: 572px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.booking_dim>div.triangle {
    top: 85px;
    left: 260px;
}

.bookingpop {
    width: 220px;
    height: 289px;
    left: 50PX;
    top: 98PX;
    color: #aaa;
    font-size: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

/*안에 글자*/

.bookingpop>h2 {
    font-size: 18px;
    color: white;
}

.bookingpop>p {
    padding-top: 6px;
}

/*예매번호 칸*/
.numbox {
    margin-top: 6px;
    background: #2F2C2C;
    border: 1px solid #2F2C2C;
    border-radius: 1px;

}

.txt1_label {
    display: none;
}

#txt1 {
    width: 172px;
    height: 33px;
    border: 1px solid #2F2C2C;
    background: #aaa;
    font-size: 10px;
}

.numbox>a {
    font-size: 12px;
    color: #aaa;
margin-right: 2px;
    padding: 9px;
    float: right;
}

/*비회원본인인증*/
.subtn2 {
    width: 195px;
    height: 23px;
    padding-top: 6px;
}

.bookingpop>.subtn2>a {
    display: inline-block;
    background: #2F2C2C;
    color: #aaa;
    padding: 5px 40px;

}

.bookingclose {
    margin-top: 24px;
    margin-right: 4px;
}
